@import "slicknav.css";
/**
                                      
 .-.                      .-.       .-.       
 : :                      : :      .' `.      
 : :.---.  .--.  .--.   .-' : .--. `. .'.--.  
 : :: .; `' '_.'' .; ; ' .; :' .; ; : :' .; ; 
 :_;: ._.'`.__.'`.__,_;`.__.'`.__,_;:_;`.__,_;
    : :                                       
    :_;            

                                 
 * @language: Portuguese
 * @job: HTML5/CSS3/JS
 * @technology: HTML5/CSS3/JS
 * @author: Valter Rodrigues
 * @date: 01/03/2018 
 * 
 * Copyright(c) Todos os direitos reservados.
 *  
**/

/*--------------------------------------------------*/
/* Styles - General Portal
/*--------------------------------------------------*/

/* General
--------------------------------------------------*/
@font-face {
  font-family: 'Raleway-Regular';
  src: url('../fonts/Raleway-Regular.eot?#iefix') format('embedded-opentype'),  
  	   url('../fonts/Raleway-Regular.woff')format('woff'), 
	   url('../fonts/Raleway-Regular.ttf') format('truetype'), 
	   url('../fonts/Raleway-Regular.svg#Raleway-Regular') format('svg');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'Raleway-Light';
  src: url('../fonts/Raleway-Light.eot?#iefix') format('embedded-opentype'),
  	   url('../fonts/Raleway-Light.woff') format('woff'), 
	   url('../fonts/Raleway-Light.ttf') format('truetype'), 
	   url('../fonts/Raleway-Light.svg#Raleway-Light') format('svg');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'Raleway-Bold';
  src: url('../fonts/Raleway-Bold.eot?#iefix') format('embedded-opentype'),
  	   url('../fonts/Raleway-Bold.woff') format('woff'), 
	   url('../fonts/Raleway-Bold.ttf') format('truetype'), 
	   url('../fonts/Raleway-Bold.svg#Raleway-Bold') format('svg');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'AvenirNextLTPro-Bold';
  src: url('../fonts/AvenirNextLTPro-Bold.eot?#iefix') format('embedded-opentype'),
  	   url('../fonts/AvenirNextLTPro-Bold.otf') format('opentype'),
	   url('../fonts/AvenirNextLTPro-Bold.woff') format('woff'), 
	   url('../fonts/AvenirNextLTPro-Bold.ttf') format('truetype'), 
	   url('../fonts/AvenirNextLTPro-Bold.svg#AvenirNextLTPro-Bold') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Raleway-Medium';
  src: url('../fonts/Raleway-Medium.eot?#iefix') format('embedded-opentype'),
  	   url('../fonts/Raleway-Medium.woff') format('woff'), 
	   url('../fonts/Raleway-Medium.ttf') format('truetype'), 
	   url('../fonts/Raleway-Medium.svg#Raleway-Medium') format('svg');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'Raleway-Italic';
  src: url('../fonts/Raleway-Italic.eot?#iefix') format('embedded-opentype'), 
   	   url('../fonts/Raleway-Italic.woff') format('woff'), 
	   url('../fonts/Raleway-Italic.ttf') format('truetype'), 
	   url('../fonts/Raleway-Italic.svg#Raleway-Italic') format('svg');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'Raleway-SemiBold';
  src: url('../fonts/Raleway-SemiBold.eot?#iefix') format('embedded-opentype'),  
  	   url('../fonts/Raleway-SemiBold.woff') format('woff'), 
	   url('../fonts/Raleway-SemiBold.ttf')  format('truetype'), 
	   url('../fonts/Raleway-SemiBold.svg#Raleway-SemiBold') format('svg');
  font-weight: normal;
  font-style: normal;
}
header.topo h1,
header.topo h2,
section.busca h1,
section.busca div.formBusca button.botao,
section.niveisGeograficos div.boxMapa div.mapa a,
section.niveisGeograficosMunicipios div.boxMapa div.mapa a,
section.menu div.boxMenu div.etapa_1 h2 span.plus,
header.topo div.buscaTopo button.botao,
section.menu div.boxMenu div.etapa_3 a.voltar,
section.niveisGeograficosMunicipios h2 span.icone {
	text-indent: -9999px;
	overflow: hidden;
	display: block;	
}
html {
	overflow: hidden;
	overflow-y: scroll;	
}
section {
	float: left;
	display: block;
	width: 100%;	
}
#menu {
    position: fixed;
    right: 20px;
    top: 45px;
    z-index: 900;
	display: none;
}
* {
	outline: none;	
}
a {
	outline: none;	
}

/* Header
--------------------------------------------------*/
#barra-brasil {
	position: fixed;
	width: 100%;
	z-index: 900;	
}
header.topo {
	float: left;
	display: block;
	width: 100%;
	background: #FFF;
	min-height: 58px;
	position: fixed;
	top: 33px;
	z-index: 800;
	-webkit-box-shadow: 0px 8px 10px -3px rgba(211,210,211,1);
	-moz-box-shadow: 0px 8px 10px -3px rgba(211,210,211,1);
	box-shadow: 0px 8px 10px -3px rgba(211,210,211,1);
}
header.topo h1 {
	margin: 0;
	padding: 0;
	margin-top: 10px;
	width: 125px;
	height: 37px;
	background: url(../img/bg/bg_logo_ipeadata.png) no-repeat;
}
header.topo h1 a {
	width: 125px;
	height: 37px;
	display: block;	
}
header.topo h2 {
	background: url(../img/bg/bg_logo.png) no-repeat;
	margin: 0;
	padding: 0;
	margin-top: 10px;
	width: 61px;
	height: 39px;
	display: block;	
	float: right;
	margin-right: 10px;
}
header.topo h2 a {
	width: 61px;
	height: 39px;
	display: block	
}
header.topo nav {
	display: block;
	width: 100%;
	margin-top: 17px;
}
header.topo nav ul {
	display: table;
	margin: 0;
	padding: 0;
	list-style: none;
}
header.topo nav ul li {
	margin: 0;
	padding: 0;
	list-style: none;
	display: inline-block;
	margin-right: 20px;
}
header.topo nav ul li:last-child {
	 margin: 0;	
}
header.topo nav ul li a {
	transition: font-weight .3s;
	font-family: 'Raleway-Regular';
	color: #2a3d65;
	font-size: 17px;
	color: #003e68;
	min-width: 70px;
	display: block;
}
header.topo nav ul li a.ativo,
header.topo nav ul li a:hover {
	font-weight: bold;
	text-decoration: none;	
	transition: font-weight .3s;
}
header.topo div.buscaTopo {
	width: 100%;
	display: none;
	margin-top: 10px;
}
header.topo div.buscaTopo input {
	border: 1px solid #00396c;
	color: #696968;
	font-family: "Raleway-Italic";
	font-size: 16px;
	height: 38px;	
	-webkit-border-radius: 15px;
	-moz-border-radius: 15px;
	border-radius: 15px;
	padding-right: 30px;
}
header.topo div.buscaTopo button.botao {
	position: absolute;
	right: 20px;
    top: 16px;
	background: url(../img/bg/bg_lupa_2.png) no-repeat;
	width: 24px;
	height: 24px;
	border: 0;
	cursor: pointer;
}

/*--------------------------------------------------*/
/* Page - Home
/*--------------------------------------------------*/
section.busca {
	background: url(../img/bg/bg_busca.jpg) no-repeat top center;
	overflow: hidden;
	margin-bottom: 30px;
}
section.busca h1 {
	background: url(../img/bg/bg_logo_busca.png) no-repeat top center;
	min-height: 150px;
	margin: 0 auto;
	display: block;
	max-width: 523px;
	width: 100%;
	background-size: contain;
	margin-bottom: 0;
	transition: min-height .5s;
}
section.busca div.meio {
	position: relative;	
	margin-top: 100px;
	margin-bottom: 30px;
	min-height: 540px;
	transition: min-height .3s;
}
section.busca div.pivo {
	position: absolute;
	left: 0;
	top: 50%;
	width: 100%;
	-webkit-transform: translate(0,-50%);
	transform: translate(0,-50%);
}
section.busca div.formBusca {
	margin: 0 auto;
	margin-bottom: 0;
	max-width: 910px;
}
section.busca div.formBusca div.box {
	width: 100%;
	display: block;
	position: relative;	
}
section.busca div.formBusca button.botao {
	background: url(../img/bg/bg_lupa.png) no-repeat;
	width: 39px;
	height: 39px;
	cursor: pointer;
	position: absolute;
	right: 16px;
	bottom: 16px;
	border: none;
}
section.busca div.formBusca label.strLabel {
	font-family: 'Raleway-Medium';
	font-size: 27px;
	color: #263f5c;
	display: block;
	margin-bottom: 15px;
	text-align: center;
}
section.busca div.formBusca input.caixaTexto {
	font-family: 'Raleway-Italic';
	width: 100%;
	display: block;
	border: 1px solid #e9e8ea;
	color: #989898;
	font-size: 24px;
	padding: 14px 20px;
	padding-right: 65px;	
	-webkit-box-shadow: 0px 8px 10px -3px rgba(211,210,211,1);
	-moz-box-shadow: 0px 8px 10px -3px rgba(211,210,211,1);
	box-shadow: 0px 8px 10px -3px rgba(211,210,211,1);	
}
section.busca div.formBusca input.caixaTexto::-webkit-input-placeholder {
  color: #989898;
  opacity: 1;
}
section.busca div.formBusca input.caixaTexto::-moz-placeholder {
  color: #989898;
  opacity: 1;
}
section.busca div.formBusca input.caixaTexto:-ms-input-placeholder {
  color: #989898;
  opacity: 1;
}
section.busca div.formBusca input.caixaTexto:-moz-placeholder {
  color: #989898;
  opacity: 1;
}
section.busca div.formBusca label {
	display: block;
	text-align: center;
}
section.menu {
	height: 520px;
	/*padding: 70px 0 0 0;*/
}
section.menu.ativo {
	height: 750px;	
}
section.menu div.boxMenu {
	display: table;
	margin: 0 auto;
	width: 250px;
	position: relative;	
}
section.menu div.boxMenu div.etapa_1 {
	min-height: 300px;	
}
section.menu div.boxMenu div.etapa_1 p {
	position: absolute;
	top: 210px;
	display: block;
    left: -12px;
    width: 270px;
    position: absolute;
	text-align: center;
	z-index: 1;
	background: #FFF;
}
section.menu div.boxMenu div.etapa_1 a {
	display: block;
}
section.menu div.boxMenu div.etapa_1 div.icone {
	display: block;
	width: 125px;
	height: 115px;
	display: table;
	margin: 0 auto;
	margin-bottom: 17px;
}
section.menu div.boxMenu div.etapa_1 p {
	font-family: 'Raleway-Regular';
	padding: 0 10px;
	margin: 0;
	text-align: center;
	color: #506faf;
	font-size: 15px;
	line-height: 21px;
	z-index: 1;
}
section.menu div.boxMenu div.etapa_1 a:hover {
	text-decoration: none;
}
section.menu div.boxMenu div.etapa_1 h2 {
	font-family: 'Raleway-Regular';
	text-align: center;
	font-size: 24px;
	background: #4a6db1;
	border-bottom: 1px solid #305195;
	color: #FFF;
	padding: 15px 35px;
	display: block;
	-webkit-border-radius: 20px;
	-moz-border-radius: 20px;
	border-radius: 20px;
	margin-bottom: 20px;
	position: relative;
}
section.menu div.boxMenu div.etapa_1 h2 span.plus {
	position: absolute;
	right: 12px;
    top: 24px;
	font-size: 30px;
	background: url(../img/bg/bg_plus.png) no-repeat;
	width: 12px;
	height: 12px;	
}
section.menu div.boxMenu.mn_1 div.etapa_1 h2 {
	background: #FFF;
	border: 1px solid #315296;
	color: #506faf;
}
section.menu div.boxMenu.mn_1 div.etapa_1 p {
	color: #506faf;
}
section.menu div.boxMenu.mn_1 div.etapa_1 div.icone {
	background: url(../img/bg/bg_icone_menu_1_normal.png) no-repeat top center;
}
section.menu div.boxMenu.mn_1 div.etapa_1 div.icone:before {
	content: url(../img/bg/bg_icone_menu_1.png);
	width:0;
	height:0;
	visibility:hidden;
	position: absolute;
} 
section.menu div.boxMenu.mn_1.ativo div.etapa_1 div.icone,
section.menu div.boxMenu.mn_1:hover div.etapa_1 div.icone {
	background: url(../img/bg/bg_icone_menu_1.png) no-repeat top center;
}
section.menu div.boxMenu.mn_1.ativo div.etapa_1 h2,
section.menu div.boxMenu.mn_1:hover div.etapa_1 h2 {
	background: #4a6db1;
	border: 1px solid #4a6db1;
	color: #FFF;
}
section.menu div.boxMenu.mn_2 div.etapa_1 h2 {
	color: #1a9b3f;
	background: #FFF;
	border: 1px solid #1a9b3f;
}
section.menu div.boxMenu.mn_2 div.etapa_1 div.icone {
	background: url(../img/bg/bg_icone_menu_2_normal.png) no-repeat top center;
}
section.menu div.boxMenu.mn_2 div.etapa_1 div.icone:before {
	content: url(../img/bg/bg_icone_menu_2.png);
	width:0;
	height:0;
	visibility:hidden;
	position: absolute;
} 
section.menu div.boxMenu.mn_2:hover div.etapa_1 div.icone,
section.menu div.boxMenu.mn_2.ativo div.etapa_1 div.icone {
	background: url(../img/bg/bg_icone_menu_2.png) no-repeat top center;
}
section.menu div.boxMenu.mn_2.ativo div.etapa_1 h2,
section.menu div.boxMenu.mn_2:hover div.etapa_1 h2 {
	background: #1a9b3f;
	color: #FFF;
	border-bottom: 1px solid #60a44a;
}
section.menu div.boxMenu.mn_2 div.etapa_2 {
	background: #1a9b3f;
}
section.menu div.boxMenu.mn_2 div.etapa_3 {
	background: #1a9b3f;
}
section.menu div.boxMenu.mn_2 div.etapa_1 p {
	color: #74ab61;
}
section.menu div.boxMenu.mn_2 div.etapa_1 p {
	color: #74ab61;
}
section.menu div.boxMenu.mn_3 div.etapa_1 h2 {
	background: #FFF;
	border: 1px solid #bf324c;
	color: #bf324c;
}
section.menu div.boxMenu.mn_3 div.etapa_1 p {
	color: #bd4152;
}
section.menu div.boxMenu.mn_3 div.etapa_1 div.icone {
	background: url(../img/bg/bg_icone_menu_3_normal.png) no-repeat top center;
}
section.menu div.boxMenu.mn_3.ativo div.etapa_1 h2,
section.menu div.boxMenu.mn_3:hover div.etapa_1 h2 {
	background: #bf324c;
	border: 1px solid #bf324c;
	color: #FFF;
}
section.menu div.boxMenu.mn_3 div.etapa_1 div.icone:before {
	content: url(../img/bg/bg_icone_menu_3.png);
	width:0;
	height:0;
	visibility:hidden;
	position: absolute;
} 
section.menu div.boxMenu.mn_3.ativo div.etapa_1 div.icone,
section.menu div.boxMenu.mn_3:hover div.etapa_1 div.icone {
	background: url(../img/bg/bg_icone_menu_3.png) no-repeat top center;
}
section.menu div.boxMenu.mn_3 div.etapa_2 {
	background: #bf324c;
}
section.menu div.boxMenu.mn_3 div.etapa_3 {
	background: #bf324c;
}
section.menu div.boxMenu:hover p {
	display: block !important; 
}
section.menu div.boxMenu:hover p {
	display: block !important; 
}
section.menu div.boxMenu.ativo p {
	display: none !important;
}
section.menu div.boxMenu div.etapa_2 {
	width: 100%;
	display: block;
	position: absolute;
	left: 0;
	top: 145px;
	display: block;
	background: #4a6db1;
	padding: 10px;
	-webkit-border-radius: 20px;
	-moz-border-radius: 20px;
	border-radius: 20px;
	display: none;
}
section.menu div.boxMenu div.etapa_2 ul {
	margin: 0;
	padding: 0;
	list-style: none;
}
section.menu div.boxMenu div.etapa_2 ul li {
	margin: 0;
	padding: 0;
	list-style: none;
}
section.menu div.boxMenu div.etapa_2 ul li a {
	display: block;
	padding: 5px 15px;
	text-align: center;
	font-family: 'Raleway-Regular';
	text-align: center;
	color: #FFF;
	opacity: 0.6;
	font-size: 22px;
}
section.menu div.boxMenu div.etapa_2 ul li a:hover {
	text-decoration: none;
	opacity: 1;	
}
section.menu div.boxMenu div.etapa_3 {
	width: 100%;
	display: block;
	position: absolute;
	left: 0;
	top: 145px;
	display: block;
	background: #4a6db1;
	padding: 10px;
	-webkit-border-radius: 20px;
	-moz-border-radius: 20px;
	border-radius: 20px;
	display: none;
	z-index: 90;
}
section.menu div.boxMenu div.etapa_3 a.voltar {
    background: url(../img/bg/bg_voltar.png) no-repeat scroll 0 0;
    height: 15px;
    left: 15px;
    position: absolute;
    top: 23px;
    width: 12px;
}
section.menu div.boxMenu div.etapa_3 h3 {
	font-family: 'Raleway-Regular';
	text-align: center;
	margin: 8px 0;
	font-size: 22px;
	color: #FFF;	
}
section.menu div.boxMenu div.etapa_3 ul {
	margin: 0;
	padding: 5px 0;
	list-style: none;
}
section.menu div.boxMenu div.etapa_3 ul li {
	margin: 0;
	padding: 0;
	list-style: none;
}
section.menu div.boxMenu div.etapa_3 ul li a {
	display: block;
	padding: 4px 15px;
	text-align: center;
	color: #FFF;
	opacity: 0.6;
}
section.menu div.boxMenu div.etapa_3 ul li a:hover {
	text-decoration: none;
	opacity: 1;	
}
section.menu div.boxMenu .scroll-pane-menu {
	width: 100%;
	height: 330px;
	overflow: auto;
}
section.temas {
	margin-top: 50px;
}
section.temas h1 {
	font-family: "Raleway-SemiBold";
	font-size: 30px;
	margin: 40px 0;
	padding: 0;
	text-align: center;	
	color: #115099;
}
section.temas div.boxTipo {
	float: left;
	display: block;
	width: 100%;
	position: relative;
}
section.temas div.boxTipo div.rep_1 {
	background: url(../img/bg/bg_degrade_1.png) repeat;
	width: 2560px;
	height: 130px;
	position: absolute;
	left: -2568px;
	top: 0;	
}
section.temas div.boxTipo div.rep_2 {
	background: url(../img/bg/bg_degrade_1.png) repeat;
	width: 2560px;
	height: 500px;
	position: absolute;
	right: -2583px;
	top: 0;	
}
section.temas div.boxTema {
	position: relative;
	overflow: hidden;
	float: left;
	display: block;
	width: 100%;
	margin-bottom: 20px;
	min-height: 131px;
	text-align: center;	
	-webkit-border-radius: 22px;
	-moz-border-radius: 22px;
	border-radius: 22px;
	display: inline-table;
	height: 132px;
	-webkit-box-shadow: 0px 0px 13px 3px rgba(255,255,255,1);
	-moz-box-shadow: 0px 0px 13px 3px rgba(255,255,255,1);
	box-shadow: 0px 0px 13px 3px rgba(255,255,255,1);
}
section.temas div.boxTema div.bar {
	position: absolute;
	left: 0;
	top: 13px;
	width: 100%;
	height: 12px;	
	padding: 0 20px;
	display: block;
	opacity: 0;
	transition: opacity .1s;
}
section.temas div.boxTema div.bar div.meio {
	height: 12px;	
	width: 100%;
	overflow: hidden;
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	border-radius: 4px;
}
section.temas div.boxTema div.bar div.cor_1 {
	background: #4a6db1;
	width: 100%;
	height: 12px;	
	float: left;
}
section.temas div.boxTema div.bar div.cor_2 {
	background: #6eac5a;
	width: 100%;
	height: 12px;	
	float: left;
}
section.temas div.boxTema div.bar div.cor_3 {
	background: #bf314c;
	width: 100%;
	height: 12px;	
	float: left;
}
section.temas div.boxTema:hover {
	-webkit-box-shadow: 0px 0px 10px 0px rgba(200,199,202,1);
	-moz-box-shadow: 0px 0px 10px 0px rgba(200,199,202,1);
	box-shadow: 0px 0px 10px 0px rgba(200,199,202,1);
}
section.temas div.boxTema:hover div.bar {
	display: block;
	opacity: 1;
	transition: opacity .1s;
}
section.temas div.boxTema a {
	overflow: hidden;
	border: 1px solid #949494;
	overflow: hidden;
	font-family: 'Raleway-Regular';
	font-size: 20px;
	display: table-cell;
	color: #807285;
	vertical-align: middle;
	-webkit-border-radius: 22px;
	-moz-border-radius: 22px;
	border-radius: 22px;
	background: #FFF;
	transition: background .1s;
}
section.temas div.boxTema:hover a {
	overflow: hidden;
	color: #807285;
	text-decoration: none;
	background: #f5f5f5;
	border: 1px solid #f5f4f4;
	transition: background .1s;
}
section.temas div.type_1  div.rep_1,
section.temas div.type_1  div.rep_2 {
	background: url(../img/bg/bg_degrade_1.png) repeat;
}
section.niveisGeograficos {
	padding-bottom: 100px;	
	margin-top: 100px;
}
section.niveisGeograficos h1 {
	font-family: "Raleway-SemiBold";
	font-size: 30px;
	margin: 0;
	padding: 0;
	margin-bottom: 30px;
	text-align: center;	
	color: #115099;
}
section.niveisGeograficos h2 {
	font-family: 'Raleway-Light';
	text-align: center;	
	font-size: 16px;
	color: #403b80;
	margin-bottom: 30px;
}
section.niveisGeograficos h2 span.txt {
	position: relative;
	background: url(../img/bg/bg_ic_lupa.png) no-repeat;
	padding-bottom: 11px;
    padding-left: 40px;
    padding-top: 15px;
}
section.niveisGeograficos div.boxMapa {
	float: left;
	display: block;
	width: 100%;
	position: relative;
}
section.niveisGeograficos div.boxMapa h3 {
	font-family: 'Raleway-SemiBold';
	border: 1px solid #413b80;
	display: table;
	margin: 0 auto;
	color: #6f81bd;
	font-size: 20px;
	padding: 10px 20px;
	-webkit-border-radius: 20px;
	-moz-border-radius: 20px;
	border-radius: 20px;
}
section.niveisGeograficos div.boxMapa div.mapa {
	margin: 0 auto;
	display: block;
	margin-top: 40px;
	width: 100%;
	max-width: 419px;
	min-height: 419px;
}
section.niveisGeograficos div.boxMapa:hover h3,
section.niveisGeograficos div.boxMapa.ativo h3 {
	background: #413b80;
	color: #6f81bd;
}
section.niveisGeograficos div.boxMapa div.mapa a {
	width: 100%;
	max-width: 419px;
	min-height: 419px;
}
section.niveisGeograficos div.boxMapa.tp1 div.mapa a {
	background: url(../img/gr/gr_mapa_1_normal.png) no-repeat;
	background-size: contain;
}
section.niveisGeograficos div.boxMapa.tp1 div.mapa:before {
	content: url(../img/gr/gr_mapa_1_ativo.png);
	width:0;
	height:0;
	visibility:hidden;
	position: absolute;
} 
section.niveisGeograficos div.boxMapa.tp1:hover div.mapa a,
section.niveisGeograficos div.boxMapa.tp1.ativo div.mapa a {
	background: url(../img/gr/gr_mapa_1_ativo.png) no-repeat;
	background-size: contain;
}
section.niveisGeograficos div.boxMapa.tp2 div.mapa a {
	background: url(../img/gr/gr_mapa_2_normal.png) no-repeat;
	background-size: contain;
}
section.niveisGeograficos div.boxMapa.tp2:hover div.mapa a,
section.niveisGeograficos div.boxMapa.tp2.ativo div.mapa a {
	background: url(../img/gr/gr_mapa_2_ativo.png) no-repeat;
	background-size: contain;
}
section.niveisGeograficos div.boxMapa.tp2 div.mapa:before {
	content: url(../img/gr/gr_mapa_2_ativo.png);
	width:0;
	height:0;
	visibility:hidden;
	position: absolute;
} 
section.tabelaDados {
	float: left;
	display: none;
	width: 100%;
	overflow: hidden;
	background: #413c80;
	padding-top: 17px;
	padding-bottom: 10px;
}
section#dadosNiveisGeograficosMunicipios {
	margin-bottom: 130px;	
}
section.tabelaDados .scroll-pane {
	width: 100%;
	height: 530px;
	overflow: auto;
}
section.tabelaDados .horizontal-only {
	height: auto;
	max-height: 530px;
}
section.tabelaDados a.btExibir {
	font-family: 'Raleway-Regular';
	width: 105px;
	background: url(../img/bg/bg_lupa_3.png) no-repeat top 10px right 10px #FFFF;	
	margin-bottom: 10px;
	float: left;
	color: #506faf;
	padding: 10px 13px;
	-webkit-border-radius: 17px;
	-moz-border-radius: 17px;
	border-radius: 17px;
}
section.tabelaDados a.btExibir {
	text-decoration: none;	
}
section.tabelaDados table.table thead.topo {
	background: #413c80;
}
section.tabelaDados table.table thead.topo tr th {
	border-bottom: 1px solid #4c6196;
}
section.tabelaDados table.table.table-bordered td, 
section.tabelaDados table.table.table-bordered th {
    border: 1px solid #4c6196 !important;
}
section.tabelaDados table.table.table-bordered th {
    border: 1px solid #413c80;
}
section.tabelaDados table.table td {
	color: #FFF;
}
section.tabelaDados table.table tbody tr td.first {
    border-left: 1px solid #4c6196 !important;
}
section.tabelaDados table.table tbody tr td.last {
    border: 1px solid #4c6196 !important;
}
section.tabelaDados table.table tbody tr:hover {
	background: #00b8ca;
	cursor: pointer;
}
section.niveisGeograficosMunicipios {
	padding-top: 80px;
	padding-bottom: 100px;	
}
section.niveisGeograficosMunicipios h1 {
	font-family: 'Raleway-SemiBold';
	font-size: 30px;
	margin: 0;
	padding: 0;
	text-align: center;	
	font-weight: normal;
	color: #115099;
	margin-bottom: 30px;
}
section.niveisGeograficosMunicipios h2 {
	font-family: 'Raleway-Light';
	text-align: center;	
	font-size: 16px;
	color: #403b80;
	margin-bottom: 50px;
}
section.niveisGeograficosMunicipios h2 span.txt {
	position: relative;
	background: url(../img/bg/bg_ic_lupa.png) no-repeat;
	padding-bottom: 11px;
    padding-left: 40px;
    padding-top: 15px;
}
section.niveisGeograficosMunicipios div.boxMapa div.mapa {
    display: block;
    margin: 40px auto 0;
	max-width: 419px;
	margin-bottom: 50px;
}
section.niveisGeograficosMunicipios div.boxMapa h3 {
	font-family: 'Raleway-SemiBold';
	border: 1px solid #413b80;
	display: table;
	margin: 0 auto;
	color: #6f81bd;
	font-size: 20px;
	padding: 10px 12px;
	-webkit-border-radius: 20px;
	-moz-border-radius: 20px;
	border-radius: 20px;
}
section.niveisGeograficosMunicipios div.boxMapa:hover h3,
section.niveisGeograficosMunicipios div.boxMapa.ativo h3 {
	background: #413b80;
	color: #6f81bd;
}
section.niveisGeograficosMunicipios div.boxMapa div.mapa a {
	max-width: 419px;
	min-height: 290px;
	width: 100%;
}
section.niveisGeograficosMunicipios div.boxMapa.tp1 div.mapa a {
	background: url(../img/gr/gr_mapa_3_normal.png) no-repeat top center;
	background-size: contain;
}
section.niveisGeograficosMunicipios div.boxMapa.tp1:before {
	content: url(../img/gr/gr_mapa_3_ativo.png);
	width:0;
	height:0;
	visibility:hidden;
	position: absolute;
} 
section.niveisGeograficosMunicipios div.boxMapa.tp1:hover div.mapa a,
section.niveisGeograficosMunicipios div.boxMapa.tp1.ativo div.mapa a {
	background: url(../img/gr/gr_mapa_3_ativo.png) no-repeat top center;
	background-size: contain;
}
section.niveisGeograficosMunicipios div.boxMapa.tp2 div.mapa a {
	background: url(../img/gr/gr_mapa_4_normal.png) no-repeat top center;
	background-size: contain;
}
section.niveisGeograficosMunicipios div.boxMapa.tp2:hover div.mapa a,
section.niveisGeograficosMunicipios div.boxMapa.tp2.ativo div.mapa a {
	background: url(../img/gr/gr_mapa_4_ativo.png) no-repeat top center;
	background-size: contain;
}
section.niveisGeograficosMunicipios div.boxMapa.tp3 div.mapa a {
	background: url(../img/gr/gr_mapa_5_normal.png) no-repeat top center;
	background-size: contain;
}
section.niveisGeograficosMunicipios div.boxMapa.tp3:before {
	content: url(../img/gr/gr_mapa_5_ativo.png);
	width:0;
	height:0;
	visibility:hidden;
	position: absolute;
} 
section.niveisGeograficosMunicipios div.boxMapa.tp3:hover div.mapa a,
section.niveisGeograficosMunicipios div.boxMapa.tp3.ativo div.mapa a {
	background: url(../img/gr/gr_mapa_5_ativo.png) no-repeat top center;
	background-size: contain;
}
section.niveisGeograficosMunicipios div.boxMapa.tp4 div.mapa a {
	background: url(../img/gr/gr_mapa_4_normal.png) no-repeat top center;
	background-size: contain;
}
section.niveisGeograficosMunicipios div.boxMapa.tp4:before {
	content: url(../img/gr/gr_mapa_4_ativo.png);
	width:0;
	height:0;
	visibility:hidden;
	position: absolute;
} 
section.niveisGeograficosMunicipios div.boxMapa.tp4:hover div.mapa a,
section.niveisGeograficosMunicipios div.boxMapa.tp4.ativo div.mapa a {
	background: url(../img/gr/gr_mapa_4_ativo.png) no-repeat top center;
	background-size: contain;
}

/*--------------------------------------------------*/
/* Replicate - Styles for Portal
/*--------------------------------------------------*/

/* Footer
--------------------------------------------------*/
footer.rodape {
	float: left;
	display: block;
	width: 100%;
	min-height: 37px;
	background: #f1f1f0;
}
footer.rodape ul.menu {
	margin: 5px auto;
	padding: 0;
	display: table;
	list-style: none;
}
footer.rodape ul.menu li {
	margin: 0;
	padding: 0;
	display: inline;
	list-style: none;
	margin: 0 70px;
}
footer.rodape ul.menu li a {
	font-family: 'AvenirNextLTPro-Bold';
	color: #263f5c;
	font-size: 15px;	
}

/* Tabelas - Filtros
--------------------------------------------------*/
table.tabelaPadraoFiltro .orderTable {
	float: right;
	width: 10px;
	position: relative;
}
table.tabelaPadraoFiltro .orderTable a {
	position: absolute;
	left: 0;
	top: -4px;
	color: #FFF;
}
table.tabelaPadraoFiltro .orderTable a.down {
	top: 4px;	
}
table.tabelaPadraoFiltro thead.topo {
	background: #183b67;	
}
table.tabelaPadraoFiltro thead.topo tr th {
	color: #FFF;
}
table.tabelaPadraoFiltro.table-bordered td, 
table.tabelaPadraoFiltro.table-bordered th {
    border: 1px solid #e5e5e5;
}
table.tabelaPadraoFiltro.table-bordered th {
    border: 1px solid #183b67;
}
table.tabelaPadraoFiltro.table-bordered th {
    border-right: 1px solid #e5e5e5;
}
table.tabelaPadraoFiltro.table-bordered th:last-child {
    border-right: 1px solid #183b67;
}
table.tabelaPadraoFiltro tbody tr:last-child td {
	border-bottom: 1px solid #333d5c;	
}
table.tabelaPadraoFiltro tbody tr td.first {
	border-left: 1px solid #333d5c;	
}
table.tabelaPadraoFiltro tbody tr td.last {
	border-right: 1px solid #333d5c;	
}
table.tabelaPadraoFiltro thead tr:last-child td {
	border: 1px solid #333d5c;	
}
table.tabelaPadraoFiltro tbody tr:hover {
	background: #dbe1ea;
	cursor: pointer;
}
table.tabelaPadraoFiltro tbody tr td {
	font-family: 'Raleway-Regular';
	color: #2a3d65;
	font-size: 18px;
}
table.tabelaPadraoFiltro thead tr th {
	font-family: 'Raleway-Bold';
	font-weight: normal;
	color: #FFF;
	font-size: 18px;
}
.jspContainer {
	overflow: hidden;
	position: relative;
}
.jspPane {
	position: absolute;
}
.jspVerticalBar {
	position: absolute;
	top: 0;
	right: 0;
	width: 8px;
	height: 100%;
}
.jspHorizontalBar {
	position: absolute;
	bottom: 0;
	left: 0;
	width: 100%;
	height: 16px;
	background: red;
}
.jspCap {
	display: none;
}
.jspHorizontalBar .jspCap {
	float: left;
}
.jspTrack {
	background: transparent;
	position: relative;
}
.jspDrag {
	background: #FFF;
	position: relative;
	top: 0;
	left: 0;
	cursor: pointer;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
}
.jspHorizontalBar .jspTrack,
.jspHorizontalBar .jspDrag {
	float: left;
	height: 100%;
}
.jspArrow {
	background: #50506d;
	text-indent: -20000px;
	display: block;
	cursor: pointer;
	padding: 0;
	margin: 0;
}
.jspArrow.jspDisabled {
	cursor: default;
	background: #80808d;
}
.jspVerticalBar .jspArrow {
	height: 8px;
}
.jspHorizontalBar .jspArrow {
	width: 16px;
	float: left;
	height: 100%;
}
.jspVerticalBar .jspArrow:focus {
	outline: none;
}
.jspCorner {
	background: #eeeef4;
	float: left;
	height: 100%;
}
/* Yuk! CSS Hack for IE6 3 pixel bug :( */
* html .jspCorner {
	margin: 0 -3px 0 0;
}
.scroll-pane {
	width: 100%;
	height: 200px;
	overflow: auto;
}
.horizontal-only {
	height: auto;
	max-height: 200px;
}

/*--------------------------------------------------*/
/* Responsive Site
/*--------------------------------------------------*/

/* Tablet
--------------------------------------------------*/
@media screen and (max-width: 980px) {
	.hidden-xs,
	.hidden-sm,
	.hidden-md {
		display: none;	
	}
	table.tabelaPadraoFiltro {
		border:0;
	}
	table.tabelaPadraoFiltro tr {
		margin-bottom: 0px;
		display: block;
	}
	table.tabelaPadraoFiltro td {
		display: block;
		font-family: 'Raleway-Regular';
		color: #2a3d65;
		font-size: 15px !important;
	}
	table.tabelaPadraoFiltro td:last-child {
		border-bottom: 0;
	}
	table.tabelaPadraoFiltro td:before {
		content: attr(data-label);
		float: left;
	}
	table.tabelaPadraoFiltro thead {
		display: none;
	}
	table.tabelaPadraoFiltro thead tr:last-child td {
		border: none;
	}
	table.tabelaPadraoFiltro tbody tr:last-child td {
		border-bottom: 1px solid #e5e5e5 !important;
	}
	table.tabelaPadraoFiltro tbody tr td.first {
		border-left: 1px solid #e5e5e5 !important;
	}
	table.tabelaPadraoFiltro tbody tr td.last {
		border-right: 1px solid #e5e5e5;
	}
	footer.rodape ul.menu li a {
		font-size: 9px;	
	}
	footer.rodape ul.menu li {
		margin: 0 4px;
    	padding: 0;	
	}
	header.topo nav ul {
		display: none;	
	}
	#menu {
		display: block;	
	}
	section.temas div.boxTipo div.rep_1,
	section.temas div.boxTipo div.rep_2 {
		display: none;
	}
}
div#loader{
	position: fixed;
	width: 100%;
	height: 100%;
	top: 0px;
	left:0px;
	z-index: 2000;
	background-color: #FFF;
	background-image: url(../img/gr/loader.gif); 
	background-position: center center;
	background-repeat: no-repeat;
}
